.header {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 718px;
  }
  &__greeting {
    font-size: 30px;
    font-family: Arial;
    font-weight: 700;
  }
  &__greeting span{
    color: #666;
  }
  &__link {
    color: #0C77BB;
    font-size: 12px;
    font-family: Arial;
    line-height: 22px;
    cursor: pointer;
    text-decoration: underline dotted;
  }
  &__btn {
    background-color: white;
  }
}

.status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__label-container {
    position: relative;
  }
  
  &__label {
    position: absolute;
    margin-top: 10px;
    left: 224px;
    width: 503px;
    height: 46px;
    background: #EAEAEA;
    color: #404040;
    font-size: 14px;
    font-family: Arial;
    line-height: 22px;
    padding: 12px 0 0 10px;
  }
  
  &__triangle {
    position: absolute;
    left: 235px;
    top: 2.1px;
    transform: translateX(-50%);
    border-width: 0 7px 8px 7px;
    border-style: solid;
    border-color: transparent transparent #EAEAEA transparent;
  }
  
  &__current {
    font-size: 14px;
    font-family: Arial;
    line-height: 22px;
  }
  &__current span {
    color: #0C77BB;
    font-size: 15px;
    font-family: Arial;
    line-height: 22px;
  }
  &__input {
    margin-top: 10px;
    width: 185px;
    height: 34px;
    border: 1px solid #999;
    padding: 0 auto;
    text-align: center;
    font-family: Arial;
    &-error {
      margin-top: 10px;
      width: 185px;
      height: 34px;
      border: 1px solid #999;
      padding: 0 auto;
      text-align: center;
      border: 1px solid red;
    }
  }
  &__btn {
    margin-top: 10px;
    background: #71C838;
    box-shadow: 0px 1px 0px 0px #539D22; 
    width: 105px;
    height: 35px;
    color: #FFF;
    text-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-family: Arial;
    line-height: 20px;
  }
  &__wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    align-items: end;
    width: 767px; 
  }
  &__error {
    color: #F00;
    font-size: 12px;
    font-family: Arial;
    line-height: 20px;
  }
}

@media (max-width: 992px) {
  .header {
    &__greeting {
      font-size: 27px;
    }
    &__wrapper {
      width: 680px;
    }
  }
  .status {
    &__label {
      width: 370px;
    }
    &__wrapper {
      width: 680px;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &__greeting {
      font-size: 21px;
    }
    &__wrapper {
      width: 540px;
    }
  }
  .status {
    &__label {
      width: 300px;
      font-size: 12px;
    }
    &__wrapper {
      width: 540px;
    }
  }
}

@media (max-width: 576px) {
  .header {
    &__greeting {
      font-size: 15px;
    }
    &__wrapper {
      width: 300px;
      margin: 0 auto;
    }
    &__link {
      font-size: 10px;
      line-height: 100%;
    }
  }
  .status {
    &__current {
      font-size: 11px;
      text-align: center;
    }
    &__current span {
      font-size: 12px;
    }
    &__input {
      font-size: 11.5px;
    }
    &__label {
      width: 200px;
      height: 35px;
      padding-top: 6px;
      font-size: 10px;
      left: 50px;
    }
    &__triangle {
      left: 60px;
    }
    &__wrapper {
      width: 300px;
      justify-content: center;
    }
    &__btn {
      width: 100px;
      height: 30px;
      font-size: 14px;
    }
  }
}